.container{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 1500px;
    gap: 50px;
}
.thongtin{
    display: grid;
    grid-template-rows: 30% 70%;
    background-color: rgb(16, 14, 14);
}
.thongtinhead{
    background-color: black;
}
#anh{
    width: 300px;
    height: auto;
    margin-left: 80px;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: 20%;
}
.noidung{
    background-color: antiquewhite;
    margin-right: 20px;
}
.noidung1{
    color: white;
    font-size: 150%;
    margin-left: 20px;
}
.noidung2{
    color: white;
    font-size: 150%;
    margin-left: 20px;
}
.noidung3{
    color: white;
    font-size: 150%;
    margin-left: 20px;
}
.noidung4{
    color: white;
    font-size: 150%;
    margin-left: 20px;
}
.headingtitle{
    color:black;
    font-size: 150%;
    margin-left: 20px;
}
.noidungbody1{
    color: rgb(8, 5, 5);
    font-size: 150%;
    margin-left: 20px;
}